@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

span[role ='img'] {
  cursor: default;
}

html {
  height: 100%;
  width:100%;
}

.divHeight{
  height: 100vh;
  width: 100vh;
}

.aboutContainer {
  height: 100vh;
}

body {
	background: linear-gradient(-45deg, #000000d2, #29012e, #460872, #000000c5);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: linear-gradient(45deg, #000000d2, #29012e, #460872, #000000c5);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carouselImg{
	height: auto;
}

.carousel {
	position: relative;
}